      <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {% load static %}<img src="{% static 'img/info.png' %}" width="32" height="32">We remind you, that <b> by showing up on the morning of the outing you confirm that you have no COVID symptoms </b> and you are in good condition to join a group outing.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      </div>