      <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {% load static %}<img src="{% static 'img/info.png' %}" width="32" height="32">Following the <a class="link" href="http://bao.ffs.fr/content/uploads/2021/01/20210118-Guide-sanitaire-Reprise-des-mineurs-et-des-majeurs-v7.pdf" target="new"> FFS federation guidelines</a>
           related to the COVID-19 hygiene measures, <b> we can only accept <span class="badge badge-warning">MAX: 5 <img src="{% static 'img/skier.png' %}" width="16" height="16"/></span> participants per outing</b>.
          At the same time <b>all outings to Switzerland are suspended</b>, and the respective replacement will be offered.
          We also ask you to chose one outing per WE to limit interactions within the section.
        Thanks for understanding.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      </div>