{% for alertMessage in alertMessages %}
{% if alertMessage != None and alertMessage|length > 4 %}
<div class="alert alert-{{level}} alert-dismissible fade show" role="alert">
  {% load static %}<img src="{% static 'img/accident.png' %}" width="32" height="32">
    {% autoescape off %} {{alertMessage}} {% endautoescape %}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button></div>{%endif%}
{% endfor %}

{% for alertMessage in messages %}
{% if alertMessage.message != None and alertMessage.message|length > 4 %}
 <div class="alert alert-{{level}} alert-dismissible fade show" role="alert">
   {% load static %}<img src="{% static 'img/info.png' %}" width="32" height="32">
  {{alertMessage.message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button></div>{%endif%}
{% endfor %}