{% load static %}
<a class="btn btn{% if not outing.is_past_due %}-outline-secondary{%else%}-secondary{%endif%} {%if smallListView%}btn-sm{%endif%}" {%if smallListView%}target="new"{%endif%} href="{% url 'skiclubtouring:outing' outing.outing_id %}">
  {% if more_details %}  <span class="badge badge-info">{{outing.day_of_week}} {{outing.start_date}}</span> {%endif%}
  {% if 'DRAFT' in outing.status.name %}<span class="badge badge-primary">DRAFT<img src="{% static 'img/draft.png' %}" width="16" height="16"/></span>{% endif%}
  {% if 'CANCELED' in outing.status.name %}<span class="badge badge-warning">CANCELED<img src="{% static 'img/accident.png' %}" width="16" height="16"/></span>{% endif%}
  <strong>{{outing.place.name}}</strong> <small>({{outing.place.massif}})</small> <span class="badge badge-dark">{{outing.place.total_ski_grade}}</span>
  {% if not outing.official %}<span class="badge badge-danger">NON-OFFICIAL<img src="{% static 'img/lock.png' %}" width="16" height="16"/></span>{% endif%}
  {% if outing.max_participants %}<span class="badge badge-warning">MAX:<img src="{% static 'img/skier.png' %}" width="16" height="16"/> {{outing.max_participants}}</span>{% endif%}
  {% if outing.gps_file_name %}<span class="badge badge-primary">GPX<img src="{% static 'img/gps.png' %}" width="16" height="16"/> </span>{% endif%}
</a>
