{% extends 'main_template.html' %}
{% block 'navigation' %}
{% include 'nav_simple.html' with season=outing.season %}
{% endblock %}
{% block 'body' %}
    <main role="main">
      <div class="col-sm-8 mx-auto">
      <br>
      {% load static %}
      {% include 'alert-box.html' with messages=messages level='warning'%}
      {% include 'alert-box.html' with alertMessages=messages level='success'%}

      <h2 class="alert alert-{% if outing.open_sub %}success"{% elif 'DRAFT' in outing.status.name%}primary{%endif%}"> {{outing.place.name}}
        ({% load static %}<img src="{% static 'img/peak.png' %}" width="32" height="32"/> {{outing.place.alt_summit}}m)  on  {{outing.start_date}} ({{outing.day_of_week}})
        <br> <a class="btn-lg btn-outline-warning" target="new" href="{{outing.place.massif.avalanche}}">{{outing.place.massif}} <span class="badge badge-warning">BRA</span> </a>
        {% if 'DRAFT' in outing.status.name %}<span class="badge badge-primary">DRAFT<img src="{% static 'img/draft.png' %}" width="16" height="16"/></span>
        <a class="btn btn-outline-primary" href="{% url 'skiclubtouring:outing_status' outing.outing_id%}">Finalise</a>
        {% endif%}
        {% if outing.open_sub  %}<a class="btn btn-success" href="{% url 'skiclubtouring:subscribe' outing.outing_id %}"> Subscribe!</a>{% endif %}
        {% if not outing.official %}<span class="badge badge-danger">NonOfficial<img src="{% static 'img/lock.png' %}" width="16" height="16"/></span>{% endif %}
        {% if 'Manual' in outing.season.description %}<span class="badge badge-warning">sparse history</span> {%endif%}
      </h2>
      {% if 'CANCELED' in outing.status.name %}<div class="alert alert-warning" role="alert">This outing was CANCELED!</div>{%endif%}

        <hr>
      <h4> <a class="btn btn-outline-dark dropdown-toggle" data-toggle="collapse" href="#collapseDst" role="button" aria-expanded="false" aria-controls="collapseDst">
        Skiing grade: <span class="badge badge-dark">{{outing.place.total_ski_grade}}</span>,
        recommended minimum skitouring level: <span class="badge badge-dark">{{outing.place.ski_level}}</span> (click for more details) </a></h4>
      <div class="collapse" id="collapseDst">
        <div class="">
        <ul class="">
          <li> Start altitude : {{outing.place.alt_start}}m </li>
          <li> Top altitude {% load static %}<img src="{% static 'img/peak.png' %}" width="16" height="16"/>: {{outing.place.alt_summit}}m </li>
          <li> Total climb difference{% load static %}<img src="{% static 'img/diff.png' %}" width="16" height="16"/>: {{outing.place.cumulated_diff}}m </li>
          <li> Outing's main aspect {% load static %}<img src="{% static 'img/compas.png' %}" width="16" height="16"/>: <span class="badge badge-dark">{{outing.place.aspect}}</span></li>
          <li> GPS {% load static %}<img src="{% static 'img/gps.png' %}" width="16" height="16"/>: {{outing.place.lat}}, {{outing.place.long}} </li>
          <li> Map {% load static %}<img src="{% static 'img/map.png' %}" width="16" height="16"/>: {{outing.place.map_number}}, {% if outing.place.lat_wsg84 != None and outing.place.long_wsg84 != None %}<a class="link" target="new" href="http://map.geo.admin.ch/?X={{outing.place.lat_wsg84}}&Y={{outing.place.long_wsg84}}&zoom=7&crosshair=cross">Swiss Maps (map.geo.admin.ch)</a> {%endif%}</li>
        </ul>
        <h4>External sources:</h4>
        <ul class="">
          {% if outing.place.c2c %}<li> <a class="link" target="new" href="{{outing.place.c2c}}">{{outing.place.c2c}} </a> </li> {% endif %}
          {% if outing.place.skitour %}<li> <a class="link" target="new" href="{{outing.place.skitour}}">{{outing.place.skitour}} </a> </li> {% endif %}
        </ul>
        </div>
      </div>

      <h4> <a class="btn btn-outline-dark dropdown-toggle" data-toggle="collapse" href="#collapseEqp" role="button" aria-expanded="false" aria-controls="collapseEqp">
        Required equipment <span class="badge badge-dark">{{outing.place.ski_pack}}</span></a></h4>
      <div class="collapse" id="collapseEqp">
        <div class="">
          <p> {{outing.place.ski_pack.comments|safe }} </p>
        </div>
      </div>

      <h4> <a class="btn btn-outline-dark dropdown-toggle" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Same destination outings</a></h4>
      <div class="collapse" id="collapseExample">
        <div class="">
        {% for outing in previousOutings%}
          {% include 'button-outing.html' with outing=outing more_details=1 %}<br>
        {% endfor %}
        </div>
      </div>

      <hr>
      {% if 'CANCELED' in outing.status.name %}<div class="alert alert-warning" role="alert"><p>This outing was CANCELED!</p><em>{% endif %}
        {% if 'DRAFT' in outing.status.name %}<div class="alert alert-primary" role="alert">{% endif %}
      <h2> Outing details: {% if outing.max_participants %}<span class="badge badge-warning">Maximum participants <span class="badge badge-dark">{{outing.max_participants}}</span></span>{% endif%}</h2>
      {% if outing.nb_days %}<p> This outing is scheduled for {{outing.nb_days}} day(s).</p>{% endif%}
          <h5> Meeting on <span class="badge badge-info">{{outing.start_date}} - {{outing.day_of_week}}</span></h5>

      {% if outing.gps_file_name %}<p> GPS Track: <a class="link" href="http://scct.web.cern.ch/scct/gpx/{{outing.gps_file_name}}"> {{outing.gps_file_name}} </a> </p> {% endif%}
      <div class="alert alert-secondary">
      <h5>Comments and notes:</h5>
      {% if outing.details != None and outing.details|length != 0 %}<div><em>{{outing.details}}</em></div>{% endif%}
      {% if outing.note != None and outing.note|length != 0  %}<div class="alert alert-danger"><p>{{outing.note}}</p></div>{% endif%}
      {% if 'Manual' in outing.season.description %}
      <h5>Original outing sheet:</h5>
      <img src='outing.outing_file_name' height="200"/>
      {%endif%}
      </div>
      <div class="alert alert-secondary">
      <h5>Instructor(s) ({{instructors|length}}): </h5>
      {% for member in instructors%}
      <strong>{{member.member.name}}</strong> {% if member.organiser %}<span class="badge badge-success">instructor</span>{%endif%} {%if  member.url_photo%}(<a class="badge badge-primary"  href="{{member.url_photo}}" taget="new">photos</a>){%endif%},
      {% endfor%}
      {% if instructor_logged and outing.summary|length != 0 %}
        <h6><a class="btn btn-dark dropdown-toggle" data-toggle="collapse" href="#collapseDetails" role="button" aria-expanded="false" aria-controls="collapseDetails">
          Outing summary (visible only for instructors)</a></h6>
        <div class="collapse" id="collapseDetails"><div class=""> {% autoescape on %}{{outing.summary}}{% endautoescape %}</div></div>
      {% endif %}
      </div>
      <div class="alert alert-secondary">
        <h5>Participant(s) <span class="badge badge-dark">{{participants|length}}</span>, <small>including confirmed and on waiting list </small>:</h5>
        {% if outing.open_sub  %}<a class="btn btn-success" href="{% url 'skiclubtouring:subscribe' outing.outing_id %}"> Subscribe!</a><br>{% endif %}
        {% if instructor_logged %}
    <a class="btn btn-outline-success"
    href="mailto:{% for participant in instructors %}{{participant.email}},{%endfor%}{% for participant in participants %}{{participant.0.email}},{%endfor%}?subject={{outing.place.name}} on {{outing.start_date}}&cc=skiclub.skitouring@cern.ch">SEND AN EMAIL TO ALL PARTICIPANTS</a>
        <a class="btn btn-outline-success" href="{% url 'skiclubtouring:outing_list' outing.outing_id %}" target="new">See participants details </a>
        <br>
      {% endif %}
      {% for member in participants%}
        {{ forloop.counter }} {% include 'outing-member.html' with outingMember=member.0 outingMemberStat=member.1 %} <br>
      {% endfor%}
      </div>
      {% if 'CANCELED' in outing.status.name %}</em></div>{% endif %}
      {% if 'DRAFT' in outing.status.name %}</div>{% endif %}
      <hr>
      <div id="mapdiv" style="width: 100%; height: 600px"></div>
      <script>
        /// map
        var map = new ol.Map({
          target: 'mapdiv',
          layers: [
            new ol.layer.Tile({
              source: new ol.source.XYZ({
                      url: 'https://{a-c}.tile.opentopomap.org/{z}/{x}/{y}.png'
                    })
            })
          ],
          view: new ol.View({
            center: ol.proj.fromLonLat([{{outing.place.long}}, {{outing.place.lat}}]),
            zoom: 14
          })
        });
        /// markers
        var layer = new ol.layer.Vector({
            source: new ol.source.Vector({
                features: [

          new ol.Feature({
              geometry : new ol.geom.Point(ol.proj.fromLonLat([{{outing.place.long}},{{outing.place.lat}}])),
                }),
                ]
            }),
            style: new ol.style.Style({
              image: new ol.style.Icon({
                anchor: [0.6, 1.2],
                anchorXUnits: "fraction",
                anchorYUnits: "fraction",
                src: '{% static 'img/gps-small.png' %}'
              })
            })
        });
        map.addLayer(layer);
        {% if outing.gps_file_name %}
        /// gps track
        var gpxVector = new ol.layer.Vector({

          source: new ol.source.Vector({
            url: 'http://scct.web.cern.ch/scct/gpx/{{outing.gps_file_name}}',
            format: new ol.format.GPX()
            }),

          style: new ol.style.Style({
                stroke: new ol.style.Stroke({color: '#f00', width: 3})
              }),
          });
        map.addLayer(gpxVector);
        {% endif %}
      </script>
    </main>
{% endblock %}
