{% extends 'main_template.html' %}
{% block 'navigation' %}
{% include 'nav_template.html'%}
{% endblock %}
{% block 'body' %}
<main role="main">
  <div class="jumbotron">
    <div class="col-sm-8 mx-auto">
      <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">You took the wrong path!</h4>
        {% load static %} <img src="{% static 'img/accident.png' %}" width="128" height="128"> {{errorMessage}}
        <hr>
          <a class="btn btn-outline-danger" href="/">Back to the main page</a>
      </div>
    </div>
  </div>
</main>
{% endblock %}
