<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Touring section CERN ski club outings planning">
    <meta name="author" content="{{webAppAuthor}}">
    <title>{{webPageHome}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/css/ol.css" type="text/css">
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/build/ol.js"></script>

  </head>
  <body>
  {% block 'navigation' %}
  {% endblock %}
  <a id="top"/>
  {% block 'body' %}
  {% endblock %}
  <hr>
  <div class="col-sm-8 mx-auto">
    <small>Ski Touring Section @ 2020-2024;
      Visit us on <a class="badge badge-light" target="new" href="http://www.kananas.com/skiclubcern/activites/ski-de-randonnee/"> our CERN SkiClub Ski Touring Section information page</a>;
      Contact us on <a class="badge badge-light" href="mailto:{{publicContactEmail}}?subject=Contact from the website" target="_blank" rel="noopener noreferrer">{{webPageHome}}</a>;
      For instructors: <a class="badge badge-light" href="/admin">access to the Admin Panel</a>. </small>
  </div>

<!-- Piwik -->
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://piwik.web.cern.ch/" : "http://piwik.web.cern.ch/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 7723);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://piwik.web.cern.ch/piwik.php?idsite=7723" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tracking Code -->

  </body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  {% block 'extrajs' %}
  {% endblock %}

  <script>
  $(document).on("click", "#click-mdetails", function() {
        var mid = $(this).data('id');
        $('.modal-content .modal-body').empty()
        $.ajax({
            type: 'get',
            url: '/ajax/outingsof/'+mid,
            dataType: 'json',
            success: function (data) {
                var html="";
                html += '<table class="table table-striped">';
                html += '<th scope="col">Date</th><th scope="col">Destination/status</th><th scope="col">Outing presence</th></tr>';
                for(const key in data){
                    html += '<tr>';
                    html += '<td><span class="badge">'+data[key].date+'</span></td>'+
                    '<td><a href="/outing/'+key+'">'+data[key].outing+
                    '</a> <small>'+data[key].outing_status+'</small></td><td> <small>'+
                    data[key].status+'</small></td>';
                    html += '</tr>';
                }
                html += '</table>';
                $('.modal-content .modal-body').append(html)
            },
                error: function (data) {
                 console.log('Error:', data);
            }
        });
  });
  </script>
</html>
