{% extends 'map.html' %}
{% block 'features' %}

    {%for place, outings in places_outings.items %}
    {% if place.long != None  %}
    new ol.Feature({
        geometry : new ol.geom.Point(ol.proj.fromLonLat([{{place.long}},{{place.lat}}])),
        // desc  : '<a class="link" href="details?outing_id={{outing.outing_id}}">{% autoescape on %}{{outing.place.name_simple}}{% endautoescape %}</a><br>\
        //             {{outing.place.total_ski_grade}}<br>{{outing.start_date}}<br><br>STATUS: {{outing.status}}\ ',
        desc : '<div class="card" style="width: 24rem;"><div class="card-body">\
                <h4>{% autoescape on %}{{place.name}}  ({{place.alt_summit}}m){% endautoescape %}</h4>  Massif: {{place.massif}}  <br>SkiGrade: {{place.total_ski_grade}}<br> <h5>Our outings in this location:</h5>\
    {% for outing in outings %} <a class=\'link\' taget=\'new\' href=\'{% url "skiclubtouring:outing" outing.outing_id %}\'>{{outing.start_date}}</a> <br>{%endfor%}</div></div>',
          }),
    {% endif%}
    {% endfor %}

{% endblock %}
