{% extends 'map.html' %}
{% block 'features' %}

    {%for outing in scheduled_outings %}
    {% if outing.place.long != None  %}
    new ol.Feature({
        geometry : new ol.geom.Point(ol.proj.fromLonLat([{{outing.place.long}},{{outing.place.lat}}])),
        desc  : '<div class="card" style="width: 24rem;"><div class="card-body">\
                <a class="link" href="{% url 'skiclubtouring:outing' outing.outing_id %}">{% autoescape on %}{{outing.place.name_simple}} ({{outing.place.alt_summit}}m){% endautoescape %}</a><br>\
                    {{outing.place.total_ski_grade}}<br>{{outing.start_date}}<br><br>STATUS: {{outing.status}} </div></div>\ ',
          }),
    {% endif%}
    {% endfor %}

{% endblock %}
