{% extends 'main_template.html' %}
{% block 'navigation' %}
{% include 'nav_simple.html' with season=active_season %}
{% endblock %}
{% load static %}
{% block 'body' %}
  {% include 'alert-box.html' with level='warning' %}
  <div id="mapdiv" style="width: 100%; height: 1000px"></div>
  <div id="popup" class="ol-popup">
    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
    <div id="popup-content" style="background:white;"></div>
  </div>
  <script type="text/javascript">
  /// map
  var map = new ol.Map({
    target: 'mapdiv',
    layers: [
      new ol.layer.Tile({
        source: new ol.source.XYZ({
                url: 'https://{a-c}.tile.opentopomap.org/{z}/{x}/{y}.png'
              })
      })
    ],
    view: new ol.View({
      center: ol.proj.fromLonLat([7.1, 46.1]), //aprox centered above Chablais
      zoom: 9
    })
  });

  /// markers
  var layer = new ol.layer.Vector({
      source: new ol.source.Vector({
          features: [
 {% block 'features' %}
 {% endblock %}
          ]
      }),
      style: new ol.style.Style({
        image: new ol.style.Icon({
        anchor: [0.4, 0.6],
        anchorXUnits: "fraction",
        anchorYUnits: "fraction",
        src: '{% static 'img/gps-small.png' %}'
        })
      })
  });
  map.addLayer(layer);

  /// popup
  var container = document.getElementById('popup');
  var content = document.getElementById('popup-content');
  var closer = document.getElementById('popup-closer');
  var overlay = new ol.Overlay({
      element: container,
      autoPan: true,
      autoPanAnimation: {
          duration: 250
      }
  });
  map.addOverlay(overlay);
  closer.onclick = function() {
      overlay.setPosition(undefined);
      closer.blur();
      return false;
  };
  map.on('singleclick', function (event) {
      if (map.hasFeatureAtPixel(event.pixel) === true) {
          var coordinate = event.coordinate;
          var f = map.forEachFeatureAtPixel(
                  event.pixel,
                  function(ft, layer){return ft;}
              );
          content.innerHTML = f.get('desc');
          overlay.setPosition(coordinate);
      } else {
          overlay.setPosition(undefined);
          closer.blur();
      }
  });

</script>
{% endblock %}
