{% extends 'main_template.html' %}
{% block 'navigation' %}
{% include 'nav_member.html' %}
{% endblock %}
{% block 'body' %}
    <main role="main">

      <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
          <h1>Hello {{member.first_name}}!</h1>
          <p>Below is a summary of your {{scheduled_members_outings|length}} outing(s) with the CERN SkiClub, reaching back to {{scheduled_members_outings.last.outing.start_date}}
          </p>
          <!-- <p>
            <a class="btn btn-primary" href="/docs/4.5/components/navbar/" role="button">View navbar docs &raquo;</a>
          </p> -->
          {% if request.user.is_staff %}
          <a class="btn btn-primary" href={% url 'skiclubtouring:instructor'%}>Check out <b>instructor's summary page!</b></a>
          {% endif %}
        </div>
      </div>

    <div class="col-sm-8 mx-auto">
      <h4>Your yearly outings</h4>
        <div id="statBars"></div>
      <h4>Your favourite regions</h4>
        <div id="regionPie"></div>

      <h4>Outings in details</h4>
      <table class="table table-hover">
       <thead>
         <tr class="table" >
           <th scope="col">Id </th>
           <th scope="col">When</th>
           <th scope="col">Where</th>
         </tr>
       </thead>
       <tbody>
         {% for member_outing in scheduled_members_outings %}
         {% if not 'CANCELED' in member_outing.outing.status.name %}
         <tr>
           <td>{{ forloop.counter }}</td>
           <td><span class="badge badge-info"> {{member_outing.outing.day_of_week}} {{member_outing.outing.start_date}}</span></td>
           <td>
             {% include 'button-outing.html' with outing=member_outing.outing %}
             {% if member_outing.url_photo != Null %} {% include 'button-outing-photo.html' with outingMember=member_outing %} {%endif%}
           </td>
         </tr>
         {% endif%}
         {% endfor %}
       </tbody>
     </table>

    </div>
    </main>
{% endblock %}

{% block 'extrajs' %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script>
    function outingsData (data) {
       $('#statBars').highcharts({
        chart: {
            type: 'line'
        },
        title: {
            text: 'Number of outings in the past'
        },
        xAxis: {
            categories: data.years
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
            }
        },
        yAxis: {
            title: {
                text: 'Number of outings'
            }
        },
        series: [{name: "{{member.first_name}}'s club activity" ,data:data.outings}],
      });
    }

    $(document).ready(function() {
     $.ajax({
        url: 'ajax/stats/user/outings',
        type: 'GET',
        async: true,
        dataType: "json",
        success: function (data) {
            outingsData(data);
        }
      });
     });

    function regionsData (data) {
       $('#regionPie').highcharts({
        chart: {
            type: 'pie'
        },
        title: {
            text: 'Your favourite regions'
        },
        tooltip: {
            valueSuffix: '%'
        },
        plotOptions: {
            series: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: [{
                    enabled: true,
                    distance: 20
                }, {
                    enabled: true,
                    distance: -40,
                    format: '{point.percentage:.1f}%',
                    style: {
                        fontSize: '1.2em',
                        textOutline: 'none',
                        opacity: 0.7
                    },
                    filter: {
                        operator: '>',
                        property: 'percentage',
                        value: 15
                    }
                }]
            }
        },

        series: [{name:"Region", data:data.data}],
      });
    }
    $(document).ready(function() {
     $.ajax({
        url: 'ajax/stats/user/regions',
        type: 'GET',
        async: true,
        dataType: "json",
        success: function (data) {
            regionsData(data);
        }
      });
     });

    </script>
{% endblock %}