{% extends 'main_template.html' %}
{% block 'navigation' %}
{% include 'nav_member.html' %}
{% endblock %}
{% block 'body' %}
    <main role="main">

      <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
          <h1>Hello {{member.first_name}}!</h1>
          <span class="badge badge-info"> {{outing.day_of_week}} {{outing.start_date}}</span>
          {% include 'button-outing.html' with outing=outing %}
        </div>
      </div>

    <div class="col-sm-8 mx-auto">
      <table class="table table-hover">
       <thead>
         <tr class="table" >
           <th scope="col">Id </th>
           <th scope="col">Who</th>
           <th scope="col">Contact</th>
           <th scope="col">Equipment</th>
             <th scope="col">Comments</th>
         </tr>
       </thead>
       <tbody>
         {% for member_outing in participants %}
         {% if not 'CANCELED' in member_outing.0.outing.status.name %}
         <tr>
           <td>{{ forloop.counter }}</td>
           <td>
             {% include 'outing-member.html' with outingMember=member_outing.0 outingMemberStat=member_outing.1 %}
           </td>
             <td> <a class="btn btn-outline-primary" href="tel:{{member_outing.0.mobile}}" target="new">{{member_outing.0.mobile}}</a>
                 {{member_outing.0.email}} </td>
           <td>
            <span class="badge badge-{%if member_outing.0.dva %}success{%else%}danger{%endif%}">DVA</span>
            <span class="badge badge-{%if member_outing.0.shovel %}success{%else%}danger{%endif%}">SHOVEL</span>
            <span class="badge badge-{%if member_outing.0.probe %}success{%else%}danger{%endif%}">PROBE</span>
           </td>
           <td>  <em> {{participant.comments}}</em> </td>

         </tr>
         {% endif%}
         {% endfor %}
       </tbody>
     </table>

    </div>
    </main>
{% endblock %}
