{% extends 'main_template.html' %}
{% block 'navigation' %}
{% include 'nav_member.html' %}
{% endblock %}
{% block 'body' %}
    <main role="main">
      <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
          <h1>Hello {{member.first_name}}!</h1>
          {% include 'alert-box.html' with level='warning'%}
        </div>
      </div>
      <div class="col-sm-8 mx-auto">
          <hr>
          <h2> General statistics for outings dating since {{firstSeason}}</h2>
          Since the beginning (of the tracked history), we managed to get
          <span class="badge badge-success">{{general.nbOutings}}</span> outings,
          with a total numbers of member-outing entities equal to <span class="badge badge-success">{{general.nbMemberOutings}}</span>
          <h5>Top 10 members of all time</h5>
            <div id="top10stat"></div>
          <ol>
          {% for one in top10total %}
              <li> <strong>{{one.member.name}}</strong> {% if one.member.instructor %}<span class="badge badge-success">i</span>{%endif%} with <strong>{{one.total}}</strong> outings of <strong>{{one.totalDiff}}m </strong> cumulated climb!</li>
          {% endfor %}
          </ol>

          <hr>
          <h2> Season {{season}} statistics (instructors excluded)</h2>
          <h4>Active members: <strong>{{countSeason}}</strong> </h4>

          <h5>Top 10 members</h5>
          <ol>
          {% for one in top10season %}
          <li>  {{one.member.name}} with <strong> {{one.total}}</strong> outings</li>
          {% endfor %}
          </ol>
            <div id="seasonStat"></div>
        {% for one in seasons %}
             <a class="btn btn-outline-secondary" href="/stats?season={{one.end}}">{{one}}</a>
          {% endfor %}
      </div>
    </main>
{% endblock %}

{% block 'extrajs' %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script>
    function outingsData (data) {
       $('#top10stat').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Number of outings in the history'
        },
        xAxis: {
            categories: data.top.who
        },
        yAxis: [{ //
        title: {
            text: 'Outings',
        },
        }, {
        title: {
            text: 'Cumulative climb [km]',
        },
        opposite: true
    },
        ],
        series: [{name: "Outings" , data:data.top.count, yAxis:0},
                 {name: "Cumulative climb [km]" , data:data.top.diff, yAxis:1}],
      });
    }

    $(document).ready(function() {
     $.ajax({
        url: 'ajax/stats/global',
        type: 'GET',
        async: true,
        dataType: "json",
        success: function (data) {
            outingsData(data);
        }
      });
     });

    function outingsSeasonData (data) {
       $('#seasonStat').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Number of outings in the current {{season}} season'
        },
        xAxis: {
            categories: data.season.who
        },
        yAxis: [{ //
        title: {
            text: 'Outings',
        },
        }, {
        title: {
            text: 'Cumulative climb [km]',
        },
        opposite: true
    },
        ],
        series: [{name: "Outings" , data: data.season.count, yAxis:0},
                 {name: "Cumulative climb [km]" , data: data.season.diff, yAxis:1}],
      });
    }

    $(document).ready(function() {
     $.ajax({
        url: 'ajax/stats/global/season/{{season.start}}',
        type: 'GET',
        async: true,
        dataType: "json",
        success: function (data) {
            outingsSeasonData(data);
        }
      });
     });



    </script>
{% endblock %}
