<nav class="navbar navbar-expand-sm sticky-top {% if innerClub == False %}navbar-light bg-light {% else %}navbar-dark bg-dark{%endif%}" >
  <div class="container">

    <a class='btn btn-outline-secondary' href="#top"> {% load static %} <img src="{% static 'img/skier.png' %}" width="32" height="32"/> </a>
    <a class="navbar-brand" href="/"> &nbsp {{webPageHome}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars1" aria-controls="navbars1" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {% block 'options' %}
    {% endblock %}
</div>
</nav>
