{% extends 'nav_template.html'%}
{% block 'options' %}
    <div class="collapse navbar-collapse" id="navbars1">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href={% url 'skiclubtouring:member'%}  aria-haspopup="true" aria-expanded="false">My outings</a>
        </li>
        {% if request.user.is_staff %}
        <li class="nav-item">
          <a class="nav-link" href={% url 'skiclubtouring:instructor'%} aria-haspopup="true" aria-expanded="false"><strong>Instructor</strong></a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href={% url 'skiclubtouring:stats'%}  aria-haspopup="true" aria-expanded="false">SkiClub outings Stats</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-light" href="/options/logout">Logout</a>
        </li>
        {% if instructor_logged %}
        <li class="nav-item active">
          <a class="btn btn-outline-danger" href="/admin">ADMIN PANELs</a>
        </li>
        {% endif %}
      </ul>
    </div>

{% endblock %}
