{% extends 'nav_template.html'%}
{% block 'options' %}
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/?season={{season.end}}">Back to the {{season}} season </a>
      </li>
    </ul>
  </div>
{% endblock %}
