{% extends 'nav_template.html'%}
{% block 'options' %}

    <div class="collapse navbar-collapse" id="navbars1">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Past seasons</a>
          <div class="dropdown-menu" aria-labelledby="dropdown2">
            {%for season in seasons %} <a class="dropdown-item" href="/?season={{season.end}}">{{season}}  {% if 'Manual' in season.description %}
              <span class="badge badge-warning">sparse</span> {%endif%} </a> {% endfor %}
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="map-all">Show all Club's destinations ever {% load static %}<img src="{% static 'img/map.png' %}" width="24" height="24"/></a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-success" href={% url 'skiclubtouring:member'%}>Hello {{logged_user_first_name}}!</a>
        </li>
        {% if instructor_logged %}
        <li class="nav-item active">
          <a class="btn btn-outline-danger" href="/admin">ADMIN PANELs</a>
        </li>
        {% endif %}
      </ul>
    </div>

  {% endblock %}
