{% extends 'main_template.html' %}
{% block 'navigation' %}
{% include 'nav_member.html' %}
{% endblock %}
{% block 'body' %}
<main role="main">
  <div class="col-sm-8 mx-auto">
{% load crispy_forms_tags %}
  <form method="POST" class="post-form">
    <h2 class="alert-heading">Add outing by me</h2>
    {% csrf_token %}
    {{ form | crispy }}
    <input class="btn btn-success" type="submit" value="Add me as organiser!">
  </form>
  </div>
</main>
{% endblock %}
