{% extends 'main_template.html' %}
{% block 'navigation' %}
{% include 'nav_main.html' %}
{% endblock %}
{% block 'body' %}
<main role="main">
  <div class="jumbotron">
    <div class="col-sm-8 mx-auto">
      <h1>Season {{active_season}} outings  <a class="btn btn-outline-info" href="?season={{activeWE.2}}#activeWE" role="button">
        Jump to the next active week-end <span class="badge badge-info">{{activeWE.0}}</span> - <span class="badge badge-info">{{activeWE.1}}</span></a></h1>
      {% include 'alert-box.html' with messages=messages level='warning'%}
      {% include 'alert-box.html' with alertMessages=messages level='success'%}

<!--      {% include 'alert-ffsrules.html' %}-->
<!--      {% include 'alert-covid.html' %}-->

      <p>Note that this is a preliminary schedule and
        <strong>we have tentatively scheduled/completed: {{scheduled_outings_length}} outings</strong>.<br>
        This number may, and most certainly will(!), evolve during the season, as more detailed weather forecasts
        and instructors' availability evolves.
      </p>
        {% if 'Manual' in active_season.description %}
        <div class="alert alert-warning"> This season is marked as <span class="badge badge-warning">SPARSE</span>, it contains only a selected history of the outings that are step by step updated by our instructors browsing old outings logs in the search of new ideas and inspirations. Enjoy the time travel while reading about those outings. </div>
        {% endif%}

      <p>
        Check  <a class="btn btn-outline-secondary" href="/map?season={{active_season.end}}" role="button">all the {{active_season}} season's outings on the map{% load static %}<img src="{% static 'img/map.png' %}" width="32" height="32"/></a>
        or browse  <a class="btn btn-outline-secondary" href="/photos?season={{active_season.end}}" role="button">all pictures taken during the outings {% load static %}<img src="{% static 'img/camera.png ' %}" width="32" height="32"/></a>
      </p>

      <hr>
      <p>This is public view for the club's members and guests. We are part of the <a class="badge badge-light" target="new" href="http://www.kananas.com/skiclubcern/">CERN SkiClub.</a><br>
        All the details of how to subscribe, how we organize outings and about the team behind our section you can find on
        <a class="badge badge-light" target="new" href="http://www.kananas.com/skiclubcern/activites/ski-de-randonnee/">  our CERN SkiClub Ski Touring Section information page.</a>
      </p>
      <hr>
      <p>Last but not least, remember to tag your photos with <a class="badge badge-secondary" target="new" href="https://www.instagram.com/explore/tags/cernskitouring/">#cernskitouring</a>
        when you post them on your favorites social medias.</p>
    </div>
    <div class="col-sm-6 mx-auto">
      <hr>
    <table class="table alert-success">
    {% for outing, instructors in scheduled_outings_subscribe.items %}
     <tr class="bg-gradient-success">
     <td><span class="badge badge-info"> {{outing.day_of_week}} {{outing.start_date}}</span> {% for inst in instructors %}
         <span class="badge badge-light">{{inst.member.first_name}}</span> {%endfor%} </td>
        <td>
         {% include 'button-outing.html' with outing=outing %}
         <a class="btn btn-success" href="{% url 'skiclubtouring:subscribe' outing.outing_id %}"> Subscribe!</a>
        </td>
     </tr>
     {% endfor %}
        </table>
    </div>
  </div>
  {% if scheduled_outings_all.items|length == 0 %}
  <div class="col-sm-8 mx-auto">
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    No outings are scheduled/recorded for this season.
  </div>
  </div>
  {% else %}
  <div class="col-sm-8 mx-auto">
  <table class="table table-hover">
   <thead>
     <tr class="table" >
       <th scope="col">{% load static %}<img src="{% static 'img/calendar.png' %}" width="16" height="16" /> When</th>
       <th scope="col">{% load static %}<img src="{% static 'img/gps.png' %}" width="16" height="16" /> Where</th>
     </tr>
   </thead>
   <tbody>
     {% for outing, instructors in scheduled_outings_all.items %}
     <tr {% if outing.is_past_due %} class='table-secondary'
         {% elif 'CANCELED' in outing.status.name %} class='table-warning'
         {% elif outing.start_date|date:"Y-m-d" in activeWE %} class='table-info' id='activeWE'
     {% endif%}>
     <td><span class="badge badge-info"> {{outing.day_of_week}} {{outing.start_date}}</span> {% for inst in instructors %}
         <span class="badge badge-light">{{inst.member.first_name}}</span> {%endfor%} </td>
       <td>
         {% include 'button-outing.html' with outing=outing %}
         {% if outing.open_sub  %}<a class="btn btn-success" href="{% url 'skiclubtouring:subscribe' outing.outing_id %}"> Subscribe!</a>{% endif%}
         {% if outing.details != None and outing.details|length != 0 %}<div><em>{{outing.details}}</em></div>{% endif%}
         {% if outing.note != None and outing.note|length != 0  %}<div class="alert alert-{% if not outing.is_past_due %}danger{%else%}secondary{%endif%}"><p>{{outing.note}}</p></div>{% endif%}
        </td>
     </tr>
     {% endfor %}
   </tbody>
 </table>
</div>
  {% endif %}
</main>
{% endblock %}
