<strong>{%if instructor_logged%}{{outingMember.member.name}}{%else%}{{outingMember.member.first_name}}{%endif%}</strong>
{% if outingMember.status.name == 'OK' %}<span class="badge badge-success">STATUS: {{outingMember.status.name}}</span>{%endif%}
{% if outingMember.status.name == 'DRAFT' %}<span class="badge badge-warning">STATUS: {{outingMember.status.name}}</span>{%endif%}
{% if outingMember.status.name == 'POSTPONED' %}<span class="badge badge-warning">STATUS: {{outingMember.status.name}}</span>{%endif%}
{% if outingMember.status.name == 'CANCELED' %}<span class="badge badge-danger">STATUS: {{outingMember.status.name}}</span>{%endif%}
{% if outingMember.organiser %}<span class="badge badge-success">organizer</span>{%endif%}
{% if outingMember.member.instructor %}<span class="badge badge-success">instructor</span>{%endif%}
{% if outingMember.member.instructor_club %}<span class="badge badge-secondary">instructor EXT</span>{%endif%}

{% if instructor_logged and outingMemberStat != null %}
<a class="open-memberdetails{{outingMember.member.member_id}} badge badge-light"
   id="click-mdetails"
   data-toggle="modal"
   href="#open-memberdetails{{outingMember.member.member_id}}"
   data-id="{{outingMember.member.member_id}}">{% load static %} {%if not outingMemberStat.secuDay %}<img src="{% static 'img/noski.png' %}" width="16" height="16"/>{%endif%}
    <img src="{% static 'img/info.png' %}" width="16" height="16"/>
    <span class="badge badge-{{outingMemberStat.badge}}">TOT {{outingMemberStat.totalOutings}} | CS IN/OUT:
    {{outingMemberStat.currentSeasonOutings}} / {{outingMemberStat.cancelledMemberOutings}}</span></a>
    {% endif %}
    {%if outingMember.url_photo%}<a class="badge badge-primary" target="new" href="{{outingMember.url_photo}}">photos</a>{%endif%}

<div class="modal hide" id="open-memberdetails{{outingMember.member.member_id}}" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">{{outingMember.member.name}}'s <small>last outings</small>
                <span class="badge badge-{{outingMemberStat.badge}}">TOT {{outingMemberStat.totalOutings}} | CS IN/OUT:
{{outingMemberStat.currentSeasonOutings}} / {{outingMemberStat.cancelledMemberOutings}}</span>
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                </button>
        </div>
        <div class="modal-body"><!--  ajax filled--></div>
        <div class="modal-footer"><button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
</div>

