{% extends 'main_template.html' %}
{% block 'body' %}
<main role="main">
  <div class="col-sm-8 mx-auto">
  {% if scheduled_outings_all.items|length == 0 %}
  <div class="col-sm-8 mx-auto">
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    No outings are scheduled/recorded for this season.
  </div>
  </div>
  {% else %}
  {% include 'alert-box.html' with messages=messages level='warning'%}
  {% include 'alert-box.html' with alertMessages=messages level='success'%}
<!--      {% include 'alert-ffsrules.html' %}-->
<!--      {% include 'alert-covid.html' %}-->

  <table class="table table-hover">
   <thead>
     <tr class="table" >
       <th scope="col">{% load static %}<img src="{% static 'img/calendar.png' %}" width="16" height="16" /> When</th>
       <th scope="col">{% load static %}<img src="{% static 'img/gps.png' %}" width="16" height="16" /> Where</th>
     </tr>
   </thead>
   <tbody>
     {% for outing, instructors in scheduled_outings_all.items %}
     <tr {% if outing.is_past_due %} class='table-secondary'
         {% elif 'CANCELED' in outing.status.name %} class='table-warning'
         {% elif outing.start_date|date:"Y-m-d" in activeWE %} class='table-info' id='activeWE'
     {% endif%}>
       <td>{%if smallListView%}<small>{%endif%}<span class="badge badge-info"> {{outing.day_of_week}} {{outing.start_date}}</span> {% for inst in instructors %}
         <span class="badge badge-light">{{inst.member.first_name}}</span> {%endfor%} {%if smallListView%}</small>{%endif%} </td>
       <td>
         {% include 'button-outing.html' with outing=outing %}
         {% if outing.open_sub  %}<a class="btn btn-success {%if smallListView%}btn-sm{%endif%}" href="{% url 'skiclubtouring:subscribe' outing.outing_id %}" target="new"> Subscribe!</a>{% endif%}
         {% if outing.details != None and outing.details|length != 0 %}<div><em>{{outing.details}}</em></div>{% endif%}
         {% if outing.note != None and outing.note|length != 0  %}<div class="alert alert-danger"><p>{{outing.note}}</p></div>{% endif%}
        </td>
     </tr>
     {% endfor %}
   </tbody>
 </table>
</div>
{% endif %}
</main>
{% endblock %}
