{% extends 'main_template.html' %}
{% block 'navigation' %}
{% include 'nav_simple.html' with season=active_season%}
{% endblock %}
{% block 'body' %}
<main role="main">
  <div class="jumbotron">
    <div class="col-sm-8 mx-auto">
      <h1>Season {{active_season}} photos</h1>
      {% include 'alert-box.html' with level='warning'%}
      <p>Taken by our members</p>
    </div>
  </div>
  {% if scheduled_outings_all.items|length == 0 %}
  <div class="col-sm-8 mx-auto">
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    No photos recorded in this season...
  </div>
  </div>
  {% else %}
  <div class="col-sm-8 mx-auto">
  <table class="table table-hover">
   <thead>
     <tr class="table" >
       <th scope="col">When</th>
       <th scope="col">Where</th>
       <th scope="col">Photos Taken by</th>
     </tr>
   </thead>
   <tbody>
     {% for outing, details in scheduled_outings_all.items %}
     {% if not 'CANCELED' in outing.status.name %}
     <tr  >
       <td><span class="badge badge-info"> {{outing.day_of_week}} {{outing.start_date}}</span> </td>
       <td>
         {% include 'button-outing.html' with outing=outing %}
         <p>with: {% for inst in details.0 %}{{inst.member.first_name}}, {%endfor%} </p>
        </td>
       <td> {% for outingMember in details.1 %} {%if  outingMember.url_photo%} {% include 'button-outing-photo.html' with outingMember=outingMember %} {%endif%} {%endfor%}  </td>
     </tr>
     {% endif%}
     {% endfor %}
   </tbody>
 </table>
 {% endif %}
</div>
</main>
{% endblock %}
