{% extends 'main_template.html' %}
{% block 'navigation' %}
{% include 'nav_member.html' %}
{% endblock %}
{% block 'body' %}
    <main role="main">
      <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
          <h1>Hello {{member.first_name}}!</h1>
          This is an isnstructor view.
          {% include 'alert-box.html' with level='warning'%}
          <br>
          <a class="btn btn-primary" href={% url 'skiclubtouring:outing_new'%}> <strong>Add new DRAFT Outing</strong></a>
          <a class="btn btn-outline-primary" href="#nextweekend">Upcoming weekend outings</a>
                    <a class="btn btn-outline-primary" href="#activemembers">{{season}} active members statistics</a>
          <a class="btn btn-outline-primary" href="#instrutorsseasonend">The instructors' season summary</a>
        <hr>
          <h4>Your current draft outings</h4>
          {%for one in draftOutings%} <p>{% include 'button-outing.html' with outing=one more_details=1 %}
             <a class="btn btn-outline-primary" href="{% url 'skiclubtouring:outing_status' one.outing_id%}">Finalise Draft -> OK</a>
             <a class="btn btn-outline-danger" href="{% url 'skiclubtouring:outing_remove' one.outing_id %}">Remove</a>
            </p> {%endfor%}
            <h4> All season's opened subscriptions</h4>
           {% for one in open_subscriptions_outings%}
              <p>{% include 'button-outing.html' with outing=one more_details=1%}
                  <a class="btn btn-outline-primary" href="{% url 'skiclubtouring:outing_toggle' one.outing_id%}">Close subscriptions</a></p>
           {% endfor%}

        </div>

      </div>

      <div class="col-sm-8 mx-auto">
      <a id="nextweekend"/>
    <h2> All upcoming (current) weekend highlights</h2>

      {% for outing in next_weekend_outing%}
      <div class="alert alert-secondary">
        <h4>{% include 'button-outing.html' with outing=outing more_details=1 %}
          {%if outing.open_sub%}<span class="badge badge-success">Subscriptions Opened</span>{%endif%}</h4>
        <h5>Participant(s) <span class="badge badge-dark">{{next_weekend_details|get_item:outing.outing_id|length}}</span>, <small>including confirmed and on waiting list </small>:</h5>
        {% if instructor_logged %}
        <a class="btn btn-outline-primary" href="{% url 'skiclubtouring:outing_list' outing.outing_id %}" target="new">See detailed participants details </a> <br>
        <a class="btn btn-outline-primary" href="{% url 'skiclubtouring:outing_toggle' outing.outing_id %}" target="new">{%if outing.open_sub%}CLOSE{%else%}OPEN{%endif%} Subscriptions</a>

        <form class="post-form" action="{% url 'skiclubtouring:outing_status' outing.outing_id%}" method="POST">
            {% csrf_token %}
            <select class="btn btn-outline-primary dropdown-toggle"
                    onchange='document.getElementById("submit{{outing.outing_id}}").disabled=false;'
                    name="status" >
            {%for one in statuses%}<option value="{{one}}" {%if one == outing.status%}selected{%endif%}>{{one}}</option>{%endfor%}
            </select>
          <input id="submit{{outing.outing_id}}" class="btn btn-outline-primary" type="submit" value="Update Status" disabled>
        </form>

      {% endif %}
        <hr>
      {% for participant in next_weekend_details|get_item:outing.outing_id%}
        {{ forloop.counter }} {% include 'outing-member.html' with outingMember=participant.0 outingMemberStat=participant.1 %} <br>
      {% endfor%}
      </div>
       {% endfor%}

          <a id="activemembers"/>
        <h2> {{season}} active members statistics</h2>
          <p>This season participation in Security days EXCLUDED!</p>
          <hr>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Member</th>
                <th scope="col">MF</th>
                <th scope="col">{{season}} #</th>
                <th scope="col">All time #</th>
              </tr>
            </thead>
            <tbody>
            {%for member in active_members%}
            {%if active_members_outings|get_item:member.member_id != None%}
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>{{member.name}}</td>
                  <td>{{member.instructor}}</td>
                  <td>{{active_members_outings|get_item:member.member_id}}</td>
                  <td>{{active_members_outings_all|get_item:member.member_id}}</td>
                </tr>{%endif%}{% endfor %}
            </tbody>
          </table>


        <a id="instrutorsseasonend"/>
        <h2> This is instructor's view for the {{season}} season summary</h2>
          <p>This list can be used to prepare a budget report for the SkiClubCommittee </p>
          <hr>
          {% for ins in instructors %}
          <h5>{{ins}} <span class="badge badge-secondary">Total: {{instructors_outing|get_item:ins.member_id|length}}</span></h5>
          {%if instructors_outing|get_item:ins.member_id|length%}
           <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Outing</th>
                <th scope="col">Link</th>
              </tr>
            </thead>
            <tbody>
            {%for outing in instructors_outing|get_item:ins.member_id%}
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>{{outing.start_date}}</td>
                  <td>{{outing}}</td>
                  <td> <a class="btn btm-sm btn-outline-secondary" href="{% url 'skiclubtouring:outing' outing.outing_id %}"><b>>></b></a></td>
                </tr>{% endfor %}
            </tbody>
          </table>
         {%endif%}
          {% endfor %}

      </div>

    </main>
{% endblock %}
