
{% extends 'main_template.html' %}
{% block 'navigation' %}
{% include 'nav_member.html' %}
{% endblock %}
{% block 'body' %}
<main role="main">
  <div class="col-sm-8 mx-auto">
  <br>
  <h2 class="alert alert-success"> {{outing.place.name}} ({{outing.place.alt_summit}}m) in {{outing.place.massif}} </h2>
  {% if 'CANCELED' in outing.status.name %}<div class="alert alert-warning" role="alert">This outing was CANCELED!</div>{%endif%}
  {% include 'alert-box.html' with messages=messages level='warning'%}
  <hr>
  <ul class="">
    <li> Avalanche bulletin: <a class="link" href="{{outing.place.massif.avalanche}}">{{outing.place.massif.avalanche}}</a></li>
  </ul>

  <h5>Timing details: </h5>
  {% if outing.nb_days %}<p> This outing is scheduled for {{outing.nb_days}} day(s).</p>{% endif%}
    <p> Meeting on <span class="badge badge-info">{{outing.start_date}} - {{outing.day_of_week}}</span></p>
    {% if outing.max_participants %}<p> <span class="badge badge-warning">{% load static %}<img src="{% static 'img/skier.png' %}" width="16" height="16"/>Maximum participants</b>
    <span class="badge badge-dark">{{outing.max_participants}}</span></span> </p>{% endif%}
  {% if outing.gps_file_name %}<p> GPS Track: <a class="link" href="http://scct.web.cern.ch/scct/gpx/{{outing.gps_file_name}}"> {{outing.gps_file_name}} </a> </p> {% endif%}
  {% if 'CANCELED' in outing.status.name %}<div class="alert alert-warning" role="alert"><p>This outing was CANCELED!</p><em>{% endif %}

  <h5>Comments and notes:</h5>
  {% if outing.details != None and outing.details|length != 0 %}<div><em>{{outing.details}}</em></div>{% endif%}
  {% if outing.note != None and outing.note|length != 0 %}<div class="alert alert-danger"><p>{{outing.note}}</p></div>{% endif%}
  <br>
  <h5 >Instructor(s) ({{instructors|length}}): </h5>
  {% for participant in instructors %}
  <strong>{{participant.member.name}}</strong> <span class="badge badge-success">instructor</span>
  {% endfor %}
  <br>
  {% if member.instructor %}
    <a class="btn btn-outline-success"
    href="mailto:{% for participant in instructors %}{{participant.email}},{%endfor%}{% for participant in participants %}{{participant.email}},{%endfor%}?subject={{outing.place.name}} on {{outing.start_date}}&cc=skiclub.skitouring@cern.ch">SEND AN EMAIL TO ALL PARTICIPANTS</a>
  {% endif %}
  <br>  <br>

  <h5> Currently subscribed participants ({{participants|length}}): </h5>
  <ol>
  {% for participant in participants %}
    <li>  <span class="badge badge-info">{{participant.date_added}}</span>
      {% include 'outing-member.html' with outingMember=participant %}
      {% if instructor_logged %}{{participant.mobile}} / {{participant.email}} /
     <span class="badge badge-{%if participant.dva %}success{%else%}danger{%endif%}">DVA</span>
     <span class="badge badge-{%if participant.shovel %}success{%else%}danger{%endif%}">SHOVEL</span>
     <span class="badge badge-{%if participant.probe %}success{%else%}danger{%endif%}">PROBE</span>, <br>  <em> {{participant.comments}}</em></li>
     {%endif%}
    {% endfor%}
  </ol>
  <hr>
  {% load crispy_forms_tags %}
  <h4> Hello {{member.name}} </h4>
  {% if subscribed is not True %}
  <div class="alert alert-success">
  <form method="POST" class="post-form">
    <h4 class="alert-heading">Subscribe form</h4>
    {% csrf_token %}
    {{ form | crispy  }}
    <input class="btn btn-success" type="submit" value="Add me to this outing list!">
  </form>
  </div>
  {% else %}
  <div class="alert alert-success"><strong>You are on the list to this outing </strong>.
    An email from organizer will come to finalize the subscription,
    indicating the exact time and place of the meeting. </div>

  {% endif%}
 </div>
</main>
{% endblock %}
