{% extends 'main_template.html' %}
{% block 'navigation' %}
{% include 'nav_simple.html' %}
{% endblock %}
{% block 'body' %}
<main role="main">
  <div class="col-sm-8 mx-auto">
    <div class="jumbotron">
      <h1>Member lounge login</h1>
      <p>Please enter your username and password to continue.</p>
      <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-success"> &nbsp;&nbsp;&nbsp; {% load static %} <img src="{% static 'img/skier.png' %}" width="32" height="32"> &nbsp;&nbsp;&nbsp; Login &nbsp;&nbsp;&nbsp; <img src="{% static 'img/skier.png' %}" width="32" height="32"> &nbsp;&nbsp;&nbsp;</button>
      </form>
      <br>
      <p> <a class="btn btn-outline-warning" href="{% url 'password_reset' %}">If you have forgotten your password, please reset password here.</a></p>
  </div>
</div>
</main>
{% endblock %}
