{% extends 'main_template.html' %}
{% block 'navigation' %}
{% include 'nav_simple.html' %}
{% endblock %}
{% block 'body' %}

<main role="main">
  <div class="col-sm-8 mx-auto">
    <div class="jumbotron">
<h3>Password reset complete</h3>

<p>Your password has been set. You may go ahead and log in now.</p>

</div>
</div>
</main>

{% endblock %}
