{% extends 'main_template.html' %}
{% block 'navigation' %}
{% include 'nav_simple.html' %}
{% endblock %}
{% block 'body' %}

<main role="main">
  <div class="col-sm-8 mx-auto">
    <div class="jumbotron">

<h3>Password reset</h3>

<p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>

<form method="post">
{% csrf_token %}
{{ form.as_p }}
<button type="submit" class="btn btn-warning">Reset my password</button>
</form>

</div>
</div>
</main>

{% endblock %}
