{% extends 'main_template.html' %}
{% block 'navigation' %}
{% include 'nav_simple.html' %}
{% endblock %}
{% block 'body' %}


<main role="main">
  <div class="col-sm-8 mx-auto">
    <div class="jumbotron">

{% if validlink %}

<h3>Enter new password</h3>

<p>Please enter your new password twice so we can verify you typed it in
correctly.</p>

<form method="post">
{% csrf_token %}
{{ form.as_p }}
<button type="submit" class="btn btn-success">Change my password</button>
</form>

{% else %}

<h3>Password reset unsuccessful</h3>

<p>The password reset link was invalid, possibly because it has already been
used. Please request a new password reset.</p>

{% endif %}

</div>
</div>
</main>

{% endblock %}
