{% extends 'main_template.html' %}
{% block 'navigation' %}
{% include 'nav_simple.html' %}
{% endblock %}
{% block 'body' %}

<main role="main">
  <div class="col-sm-8 mx-auto">
    <div class="jumbotron">

<h3>Password reset sent</h3>

<p>We’ve emailed you instructions for setting your password, if an account
exists with the email you entered. You should receive them shortly.</p>

<p>If you don’t receive an email, please make sure you’ve entered the address
you registered with, and check your spam folder</p>

<p> In case you do not remember what email address you have used contact us at
  <a class='link' href="mailto:cern.ski.rando@gmail.com?subject=Problems with logging to the SkiClub SkiTouringWebsite">cern.ski.rando@gmail.com</a>
<p>

</div>
</div>
</main>

{% endblock %}
